@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/static/Outfit-Light.ttf);
}

:root{
    /* primary colors */
    --white-color: hsl(0, 0%, 100%);
    --stone-100:  hsl(30, 54%, 90%);
    --stone-150:  hsl(30, 18%, 87%);
    --stone-600:  hsl(30, 10%, 34%);
    --stone-900:  hsl(24, 5%, 18%);
    --brown-800:  hsl(14, 45%, 36%);
    --rose-800:   hsl(332, 51%, 32%);
    --rose-50:  hsl(330, 100%, 98%);

    /* Font families */
    --young-serif-font: 'Young Serif', sans-serif;
    --outfit-font: 'Outfit', sans-serif;

    /* Font sizes */
    --pargarph-size: 16px;
}

@media (min-width: 400px) and (max-width: 1440px){
    #container{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        /* Ensure the container size never grows past this size */
        max-width: 50rem;
        width: auto;
        margin: 2rem;
        padding: 2rem;
    }
    header > img{
        border-radius: 10px;
        height: auto;
        /* image will not exceed the width of it's container */
        max-width: 100%;
        /*Maintains aspect ratio */
        min-width: 0px;
        flex-grow: 1;
        flex-shrink: 0;
    }
@media(max-width: 375px ){
    #container{
        max-width: 100%;
    }
}
}
body{
    background-color: var(--stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-height: 100vh;
}
#container{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
}
p, ul > li, ol > li, th, td{
    font-family: var(--outfit-font);
    font-weight: 400;
    color: var(--stone-600);
}
ul > li, ol > li{
    line-height: 2rem;
}
 
#reipe-header h1, p{
    margin-left: 2rem;
    margin-right: 2rem;
}
header > img{
    height: auto;
    max-width: 100%;
    min-width: 0px;
    flex-grow: 1;
    flex-shrink: 1;
}
h1, h2{
    font-family: var(--young-serif-font);
    font-weight: 400;
}
h2{
    color: var(--brown-800);
}
.prep-time > h2{
    color: var(--rose-800);
    font-family: var(--outfit-font);
    font-weight: 600;
}
.prep-time{
    background-color: var(--rose-50);
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}
.ingredients, .instructions, .nutrition{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
ul li{
    text-indent: 1rem;
    text-align: left;
}
table{
    width:100%;
    border-collapse: collapse; 
    table-layout: fixed;
}
td{
    font-weight: 700;
    color: var(--brown-800);
    padding: 1rem;
}
th{
    padding-left: 2rem;
}
li::marker{
    color: var(--brown-800);
    font-weight: 700;
}
.nutrition-underlines, .instructions, .ingredients{
    border-bottom: 1px solid var(--stone-150);
}
th, td{
    text-align: left;
}